.movie__title{
  text-decoration: none;
}
.movie__title a {
  font-weight: bold;
  color: white;
  text-decoration: none;
}

.movie__img {
  max-width: 300px;
  width: 100%;
  margin-right: 30px;
  border-radius: 3px;
}

.movie__container{
  text-align: left;
}

.movie__genres{
  margin-bottom: 3px;
}

.movie__year{
  margin-bottom: 5px;
}

.movie__rating{
  font-size: 18px;
  font-weight: bold;
}

.movie__rating2{
  font-size: 14px;
  color: gray;
  margin-right: 10px;
}

.movie__link a {
  text-decoration: none;
  color: white;
  background-color: #6AC045;
  border:1px solid #6AC045;
  border-radius: 15px;
  border-color: #6AC045;
  padding: 2px;
}

h4{
  margin: 5px 0 0 0;
}

hr{
  margin-top: 0;
  border-color: #6AC045;
}